html {
    font-size: 100%;
    color: white;
    font-family: "Verdana", "Times New Roman", serif;
}

body {
    margin: 0;
}

a {
    color: white;
}

.poster {
    max-width: 100%;
    max-height: auto;
    border-radius: 25px;
}

.container {
    display: grid;
    min-width: 500px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "hd" "sd" "main" "ft";
}

.box {
    padding: 20px;
    border-bottom: 2px solid rgb(27, 200, 243);
    background: rgb(65, 66, 70);
    /* background: black; */
}

.header {
    grid-area: hd;
    display: flex;
    /* Centers horizontally */
    justify-content: center;
    /* Centers vertically */
    align-items: center;
    font-size: 4rem;
}

.sidebar {
    grid-area: sd;
}

.sidebar>* {
    margin: 20px;
}

.nestedGrid {
    grid-area: main;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
}

.nestedGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

@media(min-width:1000px) {
    .nestedGrid {
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: stretch;
    }
}