.checked {
    color: gold;
}

.main_image {
    display: flex;
    max-width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
}

.content_image {
    display: flex;
    max-width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 25px;
}

.review_text {
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}