.checked {
    color: gold;
}

.main_image {
    display: flex;
    max-width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
}

.content_image {
    display: flex;
    max-width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
}

figcaption {
    display: flex;
    max-width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.review_text {
    margin-left: 15%;
    margin-right: 15%;
}